<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-language" content="ja" charset="utf-8">
        <title>テスト</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../static/js/for_html.js"></script>
    </head>

    <body>
      <div class="main">
        <form class="form_001" method="POST" id="form_001">
          <select class="soft_ui" name="select_db" id="select_db_id" onchange="ajax_db()">
            <option value="" hidden>データベースを選択</option>
            {% for i in db_list %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>

          <select class="soft_ui" name="select_table" id="select_table_id" onchange="ajax_table()">
            <option value=""hidden>テーブルを選択</option>
          </select>
          <div id="check_column_id" onchange="CheckedCounter(); table_gen();">
          </div>
          <input type="text" class="text_001" name="text_001" value="text_001" oninput="text001()" autocomplete="off">
          <input type="submit" class="submit_button" name="submit_button" value="submit!" onclick="submit001()">
        </form>
        <br><br>
        <h1>テーブル</h1>
        <div id="for_table"></div>
        <h1>テキストボックス入力数</h1>
        <div id="create_js"></div>
        <h1>チェック数</h1>
        <div id="checked_count"></div>
      </div>
    </body>
</html>